.body{
    min-height: 100vh;
    overflow: hidden;
}

.logo-nav{
    width: 60px;
}

.navbar{
    background-color: #ffffff;
}

.fa-bell{
    color: rgb(255, 166, 1);

}

.content-container{
    height: calc(100vh - 86px);
    overflow: auto;
}

.small-icon-nav{
    display: inline-block;
    padding: 0 .5rem;
}

.side-bar{
    width: 80px; 
    display: flex; 
    flex-direction: column;
    height: calc(100vh - 86px);
    align-items: center;
    background-image: url(../img/sidebar-bg.png);

}

.side-bar ul li a {
    color: white;
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.side-bar ul li a:hover{
    color: white;
}

.side-bar ul li:hover{
    background-color: rgba(255, 255, 255, .7);
}



.my-bg-mark{
    background-color: rgb(22, 91, 186);
    font-size: .8rem;
}


.fa-pen, .fa-trash{
    color: grey;
    border: 1px solid grey;
    padding: .5rem;
}

.offcanvas {
    --bs-offcanvas-width: 800px
}



@media screen and (min-width: 992px) {
    .side-bar{
        width: 150px;
        flex-shrink: 0;
    }
}



